
:root {
    --color-green-1: #fbfefb; 
    --color-green-2: #f5fbf6; 
    --color-green-3: #e8f7e9; 
    --color-green-4: #daf0db; 
    --color-green-5: #c8e9cb; 
    --color-green-6: #b2deb6; 
    --color-green-7: #94ce9a; 
    --color-green-8: #67b973; 
    --color-green-default: #46a758; 
    --color-green-10: #3d9a4f; 
    --color-green-11: #297e3b; 
    --color-green-12: #213c24; 
    --color-green-alpha-1: #00c00004; 
    --color-green-alpha-2: #00991a0a; 
    --color-green-alpha-3: #00a70c17; 
    --color-green-alpha-4: #00980725; 
    --color-green-alpha-5: #00990e37; 
    --color-green-alpha-6: #00920e4d; 
    --color-green-alpha-7: #018b0f6b; 
    --color-green-alpha-8: #008a1498; 
    --color-green-alpha-default: #008619b9; 
    --color-green-alpha-10: #007a18c2; 
    --color-green-alpha-11: #006516d6; 
    --color-green-alpha-12: #001f04de; 
    --color-blue-1: #fbfdff; 
    --color-blue-2: #f4faff; 
    --color-blue-3: #e9f3ff; 
    --color-blue-4: #d9edff; 
    --color-blue-5: #c7e3ff; 
    --color-blue-6: #b2d6ff; 
    --color-blue-7: #97c5f9; 
    --color-blue-8: #6eadf3; 
    --color-blue-default: #0090ff; 
    --color-blue-10: #0084ec; 
    --color-blue-11: #0073dd; 
    --color-blue-12: #003463; 
    --color-blue-alpha-1: #0080ff04; 
    --color-blue-alpha-2: #008cff0b; 
    --color-blue-alpha-3: #0074ff16; 
    --color-blue-alpha-4: #0087ff26; 
    --color-blue-alpha-5: #0080ff38; 
    --color-blue-alpha-6: #0078ff4d; 
    --color-blue-alpha-7: #0071f168; 
    --color-blue-alpha-8: #006fea91; 
    --color-blue-alpha-default: #0090ff; 
    --color-blue-alpha-10: #0084ec; 
    --color-blue-alpha-11: #0073dd; 
    --color-blue-alpha-12: #003463; 
    --color-gray-1: #fcfcfd; 
    --color-gray-2: #f9f9fb; 
    --color-gray-3: #eff0f3; 
    --color-gray-4: #e7e8ec; 
    --color-gray-5: #e0e1e6; 
    --color-gray-6: #d8d9e0; 
    --color-gray-7: #cdced7; 
    --color-gray-8: #b9bbc6; 
    --color-gray-default: #8b8d98; 
    --color-gray-10: #80828d; 
    --color-gray-11: #62636c; 
    --color-gray-12: #1e1f24; 
    --color-gray-alpha-1: #00005503; 
    --color-gray-alpha-2: #00005506; 
    --color-gray-alpha-3: #00104010; 
    --color-gray-alpha-4: #000b3618; 
    --color-gray-alpha-5: #0009321f; 
    --color-gray-alpha-6: #00073527; 
    --color-gray-alpha-7: #00063332; 
    --color-gray-alpha-8: #00083046; 
    --color-gray-alpha-default: #00051d74; 
    --color-gray-alpha-10: #00051b7f; 
    --color-gray-alpha-11: #0002119d; 
    --color-gray-alpha-12: #000107e1; 
    --color-orange-1: #fefcfb; 
    --color-orange-2: #fff5f0; 
    --color-orange-3: #ffeadd; 
    --color-orange-4: #ffd7c0; 
    --color-orange-5: #ffcaac; 
    --color-orange-6: #ffba95; 
    --color-orange-7: #fca882; 
    --color-orange-8: #f19063; 
    --color-orange-default: #f76b15; 
    --color-orange-10: #eb5d00; 
    --color-orange-11: #d24d00; 
    --color-orange-12: #572e1a; 
    --color-orange-alpha-1: #c0400004; 
    --color-orange-alpha-2: #ff55000f; 
    --color-orange-alpha-3: #ff620022; 
    --color-orange-alpha-4: #ff5e003f; 
    --color-orange-alpha-5: #ff5d0053; 
    --color-orange-alpha-6: #ff5a016a; 
    --color-orange-alpha-7: #f94e007d; 
    --color-orange-alpha-8: #e84a009c; 
    --color-orange-alpha-default: #f65e00ea; 
    --color-orange-alpha-10: #eb5d00; 
    --color-orange-alpha-11: #d24d00; 
    --color-orange-alpha-12: #441600e5; 
    --color-red-1: #fffcfc; 
    --color-red-2: #fff7f7; 
    --color-red-3: #ffebea; 
    --color-red-4: #ffdcd9; 
    --color-red-5: #ffcdca; 
    --color-red-6: #febdb9; 
    --color-red-7: #f5a9a5; 
    --color-red-8: #eb8f8b; 
    --color-red-default: #e5484d; 
    --color-red-10: #d73840; 
    --color-red-11: #cc2e39; 
    --color-red-12: #64181b; 
    --color-red-alpha-1: #ff000003; 
    --color-red-alpha-2: #ff000008; 
    --color-red-alpha-3: #ff0d0015; 
    --color-red-alpha-4: #ff150026; 
    --color-red-alpha-5: #ff0f0035; 
    --color-red-alpha-6: #fc0f0046; 
    --color-red-alpha-7: #e30c015a; 
    --color-red-alpha-8: #d4090074; 
    --color-red-alpha-default: #db0007b7; 
    --color-red-alpha-10: #cc000ac7; 
    --color-red-alpha-11: #c1000ed1; 
    --color-red-alpha-12: #540003e7; 
    --color-platform-white: #ffffff; 
    --color-platform-black: #000000; 
    --color-platform-accent-green: #b6e150; 
    --color-neutral-white: #ffffff; 
    --color-neutral-black: #000000; 
    --color-neutral-accent-green: #b6e150; 
    --color-components-cart-button-neutral-surface-neutral: #00000000; 
    --color-components-badge-success-background-success-outline: #ffffff; 
    --color-components-button-brand-background-brand-ghost: #ffffff; 
    --color-components-button-button-icon-outline-primary-surface: #cdced7; 
    --color-components-button-button-icon-outline-primary: #ffffff; 
    --color-components-button-button-icon-background-accent-solid: #ffffff; 
    --color-components-button-button-icon-background-accent-soft: #ffffff; 
    --color-components-button-button-icon-background-accent-surface: #ffffff; 
    --color-components-button-button-icon-outline-accent-surface: #ffffff; 
    --color-components-button-button-icon-outline-accent: #ffffff; 
    --color-components-button-button-icon-background-neutral-solid: #ffffff; 
    --color-components-button-button-icon-background-neutral-soft: #ffffff; 
    --color-components-button-button-icon-background-neutral-surface: #ffffff; 
    --color-components-button-button-icon-outline-neutral-surface: #ffffff; 
    --color-components-button-button-icon-outline-neutral: #ffffff; 
    --color-components-button-button-icon-on-hover-outline-primary-surface: #cdced7; 
    --color-components-button-button-icon-on-hover-outline-primary: #ffffff; 
    --color-components-button-button-icon-on-hover-background-accent-solid: #ffffff; 
    --color-components-button-button-icon-on-hover-background-accent-soft: #ffffff; 
    --color-components-button-button-icon-on-hover-background-accent-surface: #ffffff; 
    --color-components-button-button-icon-on-hover-outline-accent-surface: #ffffff; 
    --color-components-button-button-icon-on-hover-outline-accent: #ffffff; 
    --color-components-button-button-icon-on-hover-background-neutral-solid: #ffffff; 
    --color-components-button-button-icon-on-hover-background-neutral-soft: #ffffff; 
    --color-components-button-button-icon-on-hover-background-neutral-surface: #ffffff; 
    --color-components-button-button-icon-on-hover-outline-neutral-surface: #ffffff; 
    --color-components-button-button-icon-on-hover-outline-neutral: #ffffff; 
    --color-components-button-accent-background-accent-ghost: #ffffff; 
    --color-components-button-neutral-background-neutral-outline: #ffffff; 
    --color-components-button-error-background-error-ghost: #ffffff; 
    --color-components-badge-error-background-error-outline: #ffffff; 
    --color-components-badge-info-background-info-outline: #ffffff; 
    --color-components-badge-neutral-background-neutral-outline: #ffffff; 
    --color-brand-1: #fbfefb; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-brand-2: #f5fbf6; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-brand-3: #e8f7e9; /* designed for UI component backgrounds.
          
          Designed for normal states.
          can also be used for hover states if the component has a transparent background */
    --color-brand-4: #daf0db; /* designed for UI component backgrounds.
          
          Designed for hover states. */
    --color-brand-5: #c8e9cb; /* designed for UI component backgrounds.
          
          Designed for pressed or selected states. */
    --color-brand-6: #b2deb6; 
    --color-brand-7: #94ce9a; 
    --color-brand-8: #67b973; 
    --color-brand-default: #46a758; 
    --color-brand-10: #3d9a4f; 
    --color-brand-11: #297e3b; 
    --color-brand-12: #213c24; 
    --color-brand-brand-alpha-1: #00c00004; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-brand-brand-alpha-2: #00991a0a; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-brand-brand-alpha-3: #00a70c17; /* designed for UI component backgrounds.
          
          Designed for normal states.
          can also be used for hover states if the component has a transparent background */
    --color-brand-brand-alpha-4: #00980725; /* designed for UI component backgrounds.
          
          Designed for hover states. */
    --color-brand-brand-alpha-5: #00990e37; /* designed for UI component backgrounds.
          
          Designed for pressed or selected states. */
    --color-brand-brand-alpha-6: #00920e4d; 
    --color-brand-brand-alpha-7: #018b0f6b; 
    --color-brand-brand-alpha-8: #008a1498; 
    --color-brand-brand-alpha-default: #008619b9; 
    --color-brand-brand-alpha-10: #007a18c2; 
    --color-brand-brand-alpha-11: #006516d6; 
    --color-brand-brand-alpha-12: #001f04de; 
    --color-accent-1: #fefcfb; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-accent-2: #fff5f0; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-accent-3: #ffeadd; /* designed for UI component backgrounds.
          
          Designed for normal states.
          can also be used for hover states if the component has a transparent background */
    --color-accent-4: #ffd7c0; /* designed for UI component backgrounds.
          
          Designed for hover states. */
    --color-accent-5: #ffcaac; /* designed for UI component backgrounds.
          
          Designed for pressed or selected states. */
    --color-accent-6: #ffba95; 
    --color-accent-7: #fca882; 
    --color-accent-8: #f19063; 
    --color-accent-default: #f76b15; 
    --color-accent-10: #eb5d00; 
    --color-accent-11: #d24d00; 
    --color-accent-12: #572e1a; 
    --color-error-1: #fffcfc; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-error-2: #fff7f7; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-error-3: #ffebea; /* designed for UI component backgrounds.
          
          Designed for normal states.
          can also be used for hover states if the component has a transparent background */
    --color-error-4: #ffdcd9; /* designed for UI component backgrounds.
          
          Designed for hover states. */
    --color-error-5: #ffcdca; /* designed for UI component backgrounds.
          
          Designed for pressed or selected states. */
    --color-error-6: #febdb9; 
    --color-error-7: #f5a9a5; 
    --color-error-8: #eb8f8b; 
    --color-error-default: #e5484d; 
    --color-error-10: #d73840; 
    --color-error-11: #cc2e39; 
    --color-error-12: #64181b; 
    --color-error-error-alpha-1: #ff000003; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-error-error-alpha-2: #ff000008; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-error-error-alpha-3: #ff0d0015; /* designed for UI component backgrounds.
          
          Designed for normal states.
          can also be used for hover states if the component has a transparent background */
    --color-error-error-alpha-4: #ff150026; /* designed for UI component backgrounds.
          
          Designed for hover states. */
    --color-error-error-alpha-5: #ff0f0035; /* designed for UI component backgrounds.
          
          Designed for pressed or selected states. */
    --color-error-error-alpha-6: #fc0f0046; 
    --color-error-error-alpha-7: #e30c015a; 
    --color-error-error-alpha-8: #d4090074; 
    --color-error-error-alpha-default: #db0007b7; 
    --color-error-error-alpha-10: #cc000ac7; 
    --color-error-error-alpha-11: #c1000ed1; 
    --color-error-error-alpha-12: #540003e7; 
    --color-success-1: #fbfefb; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-success-2: #f5fbf6; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-success-3: #e8f7e9; /* designed for UI component backgrounds.
          
          Designed for normal states.
          can also be used for hover states if the component has a transparent background */
    --color-success-4: #daf0db; /* designed for UI component backgrounds.
          
          Designed for hover states. */
    --color-success-5: #c8e9cb; /* designed for UI component backgrounds.
          
          Designed for pressed or selected states. */
    --color-success-6: #b2deb6; 
    --color-success-7: #94ce9a; 
    --color-success-8: #67b973; 
    --color-success-default: #46a758; 
    --color-success-10: #3d9a4f; 
    --color-success-11: #297e3b; 
    --color-success-12: #213c24; 
    --color-success-success-alpha-1: #00c00004; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-success-success-alpha-2: #00991a0a; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-success-success-alpha-3: #00a70c17; /* designed for UI component backgrounds.
          
          Designed for normal states.
          can also be used for hover states if the component has a transparent background */
    --color-success-success-alpha-4: #00980725; /* designed for UI component backgrounds.
          
          Designed for hover states. */
    --color-success-success-alpha-5: #00990e37; /* designed for UI component backgrounds.
          
          Designed for pressed or selected states. */
    --color-success-success-alpha-6: #00920e4d; 
    --color-success-success-alpha-7: #018b0f6b; 
    --color-success-success-alpha-8: #008a1498; 
    --color-success-success-alpha-default: #008619b9; 
    --color-success-success-alpha-10: #007a18c2; 
    --color-success-success-alpha-11: #006516d6; 
    --color-success-success-alpha-12: #001f04de; 
    --color-neutral-1: #fcfcfd; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-neutral-2: #f9f9fb; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-neutral-3: #eff0f3; /* designed for UI component backgrounds.
          
          Designed for normal states.
          can also be used for hover states if the component has a transparent background */
    --color-neutral-4: #e7e8ec; /* designed for UI component backgrounds.
          
          Designed for hover states. */
    --color-neutral-5: #e0e1e6; /* designed for UI component backgrounds.
          
          Designed for pressed or selected states. */
    --color-neutral-6: #d8d9e0; 
    --color-neutral-7: #cdced7; 
    --color-neutral-8: #b9bbc6; 
    --color-neutral-default: #8b8d98; 
    --color-neutral-10: #80828d; 
    --color-neutral-11: #62636c; 
    --color-neutral-12: #1e1f24; 
    --color-neutral-neutral-alpha-1: #00005503; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-neutral-neutral-alpha-2: #00005506; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-neutral-neutral-alpha-3: #00104010; /* designed for UI component backgrounds.
          
          Designed for normal states.
          can also be used for hover states if the component has a transparent background */
    --color-neutral-neutral-alpha-4: #000b3618; /* designed for UI component backgrounds.
          
          Designed for hover states. */
    --color-neutral-neutral-alpha-5: #0009321f; /* designed for UI component backgrounds.
          
          Designed for pressed or selected states. */
    --color-neutral-neutral-alpha-6: #00073527; 
    --color-neutral-neutral-alpha-7: #00063332; 
    --color-neutral-neutral-alpha-8: #00083046; 
    --color-neutral-neutral-alpha-default: #00051d74; 
    --color-neutral-neutral-alpha-10: #00051b7f; 
    --color-neutral-neutral-alpha-11: #0002119d; 
    --color-neutral-neutral-alpha-12: #000107e1; 
    --color-info-1: #fbfdff; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-info-info-alpha-1: #0080ff04; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-info-2: #f4faff; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-info-info-alpha-2: #008cff0b; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-info-3: #e9f3ff; /* designed for UI component backgrounds.
          
          Designed for normal states.
          can also be used for hover states if the component has a transparent background */
    --color-info-info-alpha-3: #0074ff16; /* designed for UI component backgrounds.
          
          Designed for normal states.
          can also be used for hover states if the component has a transparent background */
    --color-info-4: #d9edff; /* designed for UI component backgrounds.
          
          Designed for hover states. */
    --color-info-info-alpha-4: #0087ff26; /* designed for UI component backgrounds.
          
          Designed for hover states. */
    --color-info-5: #c7e3ff; /* designed for UI component backgrounds.
          
          Designed for pressed or selected states. */
    --color-info-info-alpha-5: #0080ff38; /* designed for UI component backgrounds.
          
          Designed for pressed or selected states. */
    --color-info-6: #b2d6ff; 
    --color-info-info-alpha-6: #0078ff4d; 
    --color-accent-accent-alpha-1: #c0400004; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-info-7: #97c5f9; 
    --color-accent-accent-alpha-2: #ff55000f; /* Designed for app backgrounds and subtle component backgrounds. .
          
          Appropriate applications include:
          
          Main app background
          Striped table background
          Code block background
          Card background
          Sidebar background
          Canvas area background */
    --color-accent-accent-alpha-3: #ff620022; /* designed for UI component backgrounds.
          
          Designed for normal states.
          can also be used for hover states if the component has a transparent background */
    --color-info-info-alpha-7: #0071f168; 
    --color-info-8: #6eadf3; 
    --color-info-info-alpha-8: #006fea91; 
    --color-accent-accent-alpha-4: #ff5e003f; /* designed for UI component backgrounds.
          
          Designed for hover states. */
    --color-info-default: #0090ff; 
    --color-accent-accent-alpha-5: #ff5d0053; /* designed for UI component backgrounds.
          
          Designed for pressed or selected states. */
    --color-accent-accent-alpha-6: #ff5a016a; 
    --color-info-info-alpha-default: #0090ff; 
    --color-info-10: #0084ec; 
    --color-accent-accent-alpha-7: #f94e007d; 
    --color-accent-accent-alpha-8: #e84a009c; 
    --color-info-info-alpha-10: #0084ec; 
    --color-accent-accent-alpha-default: #f65e00ea; 
    --color-info-11: #0073dd; 
    --color-info-info-alpha-11: #0073dd; 
    --color-accent-accent-alpha-10: #eb5d00; 
    --color-info-12: #003463; 
    --color-accent-accent-alpha-11: #d24d00; 
    --color-accent-accent-alpha-12: #441600e5; 
    --color-info-info-alpha-12: #003463; 
    --color-text-headings: #1e1f24; 
    --color-text-body: #62636c; 
    --color-text-action: #46a758; 
    --color-text-action-hover: #3d9a4f; 
    --color-text-disabled: #b9bbc6; 
    --color-text-information: #0090ff; 
    --color-text-error: #e5484d; 
    --color-text-success: #46a758; 
    --color-text-on-action-white: #ffffff; 
    --color-text-on-action-black: #000000; 
    --color-icon-strong: #1e1f24; 
    --color-surface-page: #ffffff; 
    --color-surface-primary: #fcfcfd; 
    --color-surface-action: #46a758; 
    --color-surface-action-alpha: #008619b9; 
    --color-surface-action-hover: #3d9a4f; 
    --color-surface-action-alpha-hover: #007a18c2; 
    --color-surface-information: #fbfdff; 
    --color-surface-information-alpha: #0080ff04; 
    --color-surface-success: #fbfefb; 
    --color-surface-success-alpha: #00c00004; 
    --color-surface-error: #fffcfc; 
    --color-surface-error-alpha: #ff000003; 
    --color-surface-disabled: #eff0f3; 
    --color-surface-disabled-alpha: #00104010; 
    --color-icon-soft: #62636c; 
    --color-icon-action: #46a758; 
    --color-icon-action-hover: #3d9a4f; 
    --color-icon-disabled: #b9bbc6; 
    --color-icon-information: #0090ff; 
    --color-icon-error: #e5484d; 
    --color-icon-success: #46a758; 
    --color-icon-on-action-white: #ffffff; 
    --color-icon-on-action-black: #000000; 
    --color-border-lighter: #eff0f3; 
    --color-border-light: #e7e8ec; 
    --color-border-subtle: #cdced7; 
    --color-border-error: #fff7f7; 
    --color-border-success: #f5fbf6; 
    --color-border-info: #f4faff; 
    --color-border-action-buttons_: #d8d9e0; 
    --color-border-action-hover-buttons_: #cdced7; 
    --color-surface-action-2: #00c00004; 
    --color-surface-neutral: #eff0f3; 
    --color-surface-neutral-alpha: #00104010; 
    --color-icon-subtle: #8b8d98; 
    --color-border-strong: #b9bbc6; 
    --color-border-error-2: #f5a9a5; 
    --color-border-success-2: #94ce9a; 
    --color-button-icon-default: #46a758; 
    --color-button-icon-default-on-hover-alpha: #007a18c2; 
    --color-button-icon-default-on-hover: #3d9a4f; 
    --color-button-icon-error: #e5484d; 
    --color-button-icon-merchant-default-on-hover: #eb5d00; 
    --color-button-icon-merchant-default: #f76b15; 
    --color-button-icon-success-on-hover: #3d9a4f; 
    --color-button-icon-default-alpha: #008619b9; 
    --color-button-icon-error-on-hover: #d73840; 
    --color-button-icon-success: #46a758; 
    --color-button-default: #46a758; 
    --color-button-default-alpha: #008619b9; 
    --color-button-icon-neutral: #8b8d98; 
    --color-button-icon-neutral-on-hover: #80828d; 
    --color-button-default-on-hover: #3d9a4f; 
    --color-button-subtle-button: #00c00004; 
    --color-button-default-on-hover-alpha: #007a18c2; 
    --color-button-error: #e5484d; 
    --color-button-error-on-hover: #d73840; 
    --color-button-success: #46a758; 
    --color-button-success-on-hover: #3d9a4f; 
    --color-button-merchant-default: #f76b15; 
    --color-button-merchant-default-on-hover: #eb5d00; 
    --color-ratings-rating-star-active: #f76b15; 
    --color-ratings-rating-star-inactive: #eff0f3; 
    --color-components-modal-surface-background: #ffffff; 
    --color-components-nav-items-icon-color: #1e1f24; 
    --color-components-tab-tab-trigger-background-active-hover: #00991a0a; 
    --color-components-radio-cards-background-default: #ffffff; 
    --color-components-sidebar-item-icon-active: #46a758; 
    --color-components-product-card-background-surface: #ffffff; 
    --color-components-badge-success-background-success-solid: #46a758; 
    --color-components-inputs-background-default-surface: #00005506; 
    --color-components-footer-background-surface: #ffffff; 
    --color-components-button-button-icon-background-primary-solid: #46a758; 
    --color-components-nav-items-text-color: #1e1f24; 
    --color-components-cart-button-neutral-border-neutral: #00063332; 
    --color-components-cart-button-neutral-text-neutral: #62636c; 
    --color-components-cart-button-neutral-icon-neutral: #62636c; 
    --color-components-cart-button-neutral-surface-counter: #00104010; 
    --color-components-tab-tab-trigger-background-default-hover: #00005506; 
    --color-components-tab-tab-trigger-text-default: #62636c; 
    --color-components-tab-tab-trigger-text-default-hover: #1e1f24; 
    --color-components-tab-tab-trigger-text-active: #213c24; 
    --color-components-tab-tab-trigger-color-selector: #f76b15; 
    --color-components-sidebar-item-icon-inactive: #62636c; 
    --color-components-sidebar-item-text-color: #62636c; 
    --color-components-radio-cards-background-active: #ffffff; 
    --color-components-radio-cards-text-default: #1e1f24; 
    --color-components-radio-cards-text-active: #1e1f24; 
    --color-components-radio-cards-border-default: #00073527; 
    --color-components-radio-cards-border-active: #46a758; 
    --color-components-product-card-heading-text: #1e1f24; 
    --color-components-product-card-body-text: #62636c; 
    --color-components-product-card-price-text: #46a758; 
    --color-components-modal-header-text: #1e1f24; 
    --color-components-modal-body-text: #62636c; 
    --color-components-modal-icon-color: #62636c; 
    --color-components-badge-success-background-success-soft: #00a70c17; 
    --color-components-badge-success-background-success-surface: #00991a0a; 
    --color-components-badge-success-text-success-white: #ffffff; 
    --color-components-badge-success-text-success-brand: #297e3b; 
    --color-components-badge-success-icon-success-white: #ffffff; 
    --color-components-badge-success-icon-success-brand: #297e3b; 
    --color-components-footer-text-navitems: #1e1f24; 
    --color-components-footer-text-label: #62636c; 
    --color-components-button-brand-background-brand-solid: #46a758; 
    --color-components-button-brand-color-text-solid: #ffffff; 
    --color-components-button-brand-border-brand-outline: #b9bbc6; 
    --color-components-button-brand-color-text-outline: #62636c; 
    --color-components-button-brand-color-text-ghost: #62636c; 
    --color-components-review-card-rating-star-active: #f76b15; 
    --color-components-select-trigger-background-default: #00005506; 
    --color-components-select-trigger-background-filled: #00005506; 
    --color-components-select-trigger-background-disabled: #00104010; 
    --color-components-select-trigger-text-default: #62636c; 
    --color-components-select-trigger-text-filled: #1e1f24; 
    --color-components-select-trigger-text-readonly: #8b8d98; 
    --color-components-select-trigger-icon-default: #62636c; 
    --color-components-select-trigger-icon-disabled: #8b8d98; 
    --color-components-select-trigger-icon-filled: #1e1f24; 
    --color-components-review-card-rating-star-inactive: #eff0f3; 
    --color-components-review-card-background-surface: #ffffff; 
    --color-components-inputs-background-default-outline: #ffffff; 
    --color-components-inputs-background-active-surface: #00991a0a; 
    --color-components-inputs-background-active-outline: #ffffff; 
    --color-components-button-button-icon-background-primary-soft: #e8f7e9; 
    --color-components-button-button-icon-background-primary-surface: #00991a0a; 
    --color-components-button-button-icon-on-hover-background-primary-solid: #46a758; 
    --color-components-button-button-icon-on-hover-background-primary-soft: #e8f7e9; 
    --color-components-button-button-icon-on-hover-background-primary-surface: #00991a0a; 
    --color-components-badge-success-border-success-outline: #008a1498; 
    --color-components-badge-success-border-success-surface: #018b0f6b; 
    --color-components-inputs-background-filled-surface: #00104010; 
    --color-components-inputs-background-filled-outline: #ffffff; 
    --color-components-inputs-outline-active: #008a1498; 
    --color-components-inputs-outline-filled: #00073527; 
    --color-components-inputs-outline-default: #00073527; 
    --color-components-inputs-text-placeholder: #8b8d98; 
    --color-components-inputs-text-filled: #1e1f24; 
    --color-components-inputs-icon: #0002119d; 
    --color-components-inputs-input-line: #1e1f24; 
    --color-components-inputs-label: #1e1f24; 
    --color-components-button-brand-icon-brand-solid: #ffffff; 
    --color-components-button-brand-icon-brand-outline: #46a758; 
    --color-components-button-brand-icon-brand-ghost: #46a758; 
    --color-components-button-accent-background-accent-solid: #f76b15; 
    --color-components-button-accent-color-text-solid: #ffffff; 
    --color-components-button-accent-border-accent-outline: #b9bbc6; 
    --color-components-button-accent-color-text-outline: #62636c; 
    --color-components-button-accent-color-text-ghost: #62636c; 
    --color-components-button-accent-icon-accent-solid: #ffffff; 
    --color-components-button-accent-icon-accent-outline: #f76b15; 
    --color-components-button-accent-icon-accent-ghost: #f76b15; 
    --color-components-button-neutral-background-neutral-solid: #8b8d98; 
    --color-components-button-neutral-color-text-solid: #ffffff; 
    --color-components-button-neutral-color-text-outline: #62636c; 
    --color-components-button-neutral-border-neutral-outline: #00083046; 
    --color-components-button-neutral-color-text-ghost: #62636c; 
    --color-components-button-neutral-icon-neutral-solid: #ffffff; 
    --color-components-button-neutral-icon-neutral-outline: #62636c; 
    --color-components-button-neutral-icon-neutral-ghost: #62636c; 
    --color-components-button-error-background-error-solid: #e5484d; 
    --color-components-button-error-color-text-solid: #ffffff; 
    --color-components-button-error-border-error-outline: #e30c015a; 
    --color-components-button-error-color-text-outline: #e5484d; 
    --color-components-button-error-color-text-ghost: #e5484d; 
    --color-components-button-error-icon-error-solid: #ffffff; 
    --color-components-button-error-icon-error-outline: #e5484d; 
    --color-components-button-error-icon-error-ghost: #e5484d; 
    --color-components-callout-information-background-information: #0074ff16; 
    --color-components-callout-information-outline-information: #0074ff16; 
    --color-components-callout-information-text-information: #1e1f24; 
    --color-components-callout-information-header-text-information: #1e1f24; 
    --color-components-callout-information-icon-information: #62636c; 
    --color-components-callout-neutral-background-neutral: #00005506; 
    --color-components-callout-neutral-outline-neutral: #00104010; 
    --color-components-callout-neutral-text-neutral: #62636c; 
    --color-components-callout-neutral-header-text-neutral: #1e1f24; 
    --color-components-callout-neutral-icon-neutral: #62636c; 
    --color-components-callout-error-background-error: #ff0d0015; 
    --color-components-callout-error-outline-error: #ff150026; 
    --color-components-callout-error-text-error: #1e1f24; 
    --color-components-callout-error-header-text-error: #cc2e39; 
    --color-components-callout-error-icon-error: #cc2e39; 
    --color-components-tab-outline: #00073527; 
    --color-components-cart-button-primary-surface-primary: #00c00004; 
    --color-components-cart-button-primary-border-primary: #018b0f6b; 
    --color-components-cart-button-primary-text-primary: #297e3b; 
    --color-components-cart-button-primary-icon-primary: #46a758; 
    --color-components-cart-button-primary-surface-counter-primary: #00a70c17; 
    --color-components-badge-error-background-error-solid: #e5484d; 
    --color-components-badge-error-background-error-soft: #ff0d0015; 
    --color-components-badge-error-background-error-surface: #ff000008; 
    --color-components-badge-error-text-error-white: #ffffff; 
    --color-components-badge-error-text-error-brand: #cc2e39; 
    --color-components-badge-error-icon-error-white: #ffffff; 
    --color-components-badge-error-icon-error-brand: #cc2e39; 
    --color-components-badge-error-border-error-outline: #d4090074; 
    --color-components-badge-error-border-error-surface: #e30c015a; 
    --color-components-badge-info-background-info-solid: #0090ff; 
    --color-components-badge-info-background-info-soft: #0074ff16; 
    --color-components-badge-info-background-info-surface: #008cff0b; 
    --color-components-badge-info-text-info-white: #ffffff; 
    --color-components-badge-info-text-info-brand: #0073dd; 
    --color-components-badge-info-icon-info-white: #ffffff; 
    --color-components-badge-info-icon-info-brand: #0073dd; 
    --color-components-badge-info-border-info-outline: #006fea91; 
    --color-components-badge-info-border-info-surface: #0071f168; 
    --color-components-badge-neutral-background-neutral-solid: #8b8d98; 
    --color-components-badge-neutral-background-neutral-soft: #00104010; 
    --color-components-badge-neutral-background-neutral-surface: #00005506; 
    --color-components-badge-neutral-text-neutral-white: #ffffff; 
    --color-components-badge-neutral-text-neutral-brand: #62636c; 
    --color-components-badge-neutral-icon-neutral-white: #ffffff; 
    --color-components-badge-neutral-icon-neutral-brand: #62636c; 
    --color-components-badge-neutral-border-neutral-outline: #00083046; 
    --color-components-badge-neutral-border-neutral-surface: #00063332; 
}