
:root {
    --measure-dimension-scale-0: 0px;     
    --measure-dimension-scale-25: 1px;     
    --measure-dimension-scale-50: 2px;     
    --measure-dimension-scale-100: 4px;     
    --measure-dimension-scale-200: 8px;     
    --measure-dimension-scale-250: 10px;     
    --measure-dimension-scale-300: 12px;     
    --measure-dimension-scale-400: 16px;     
    --measure-dimension-scale-500: 20px;     
    --measure-dimension-scale-600: 24px;     
    --measure-dimension-scale-700: 28px;     
    --measure-dimension-scale-800: 32px;     
    --measure-dimension-scale-900: 40px;     
    --measure-font-size-h1-font-size: 60px;     
    --measure-line-height-h1-line-height: 72px;     
    --measure-paragraph-spacing-h1-paragraph-spacing: 0px;     
    --measure-font-size-h2-font-size: 48px;     
    --measure-line-height-h2-line-height: 56px;     
    --measure-paragraph-spacing-h2-paragraph-spacing: 0px;     
    --measure-font-size-h3-font-size: 40px;     
    --measure-line-height-h3-line-height: 48px;     
    --measure-paragraph-spacing-h3-paragraph-spacing: 48px;     
    --measure-font-size-h4-font-size: 32px;     
    --measure-line-height-h4-line-height: 40px;     
    --measure-paragraph-spacing-h4-paragraph-spacing: 40px;     
    --measure-font-size-h5-font-size: 24px;     
    --measure-line-height-h5-line-height: 28px;     
    --measure-paragraph-spacing-h5-paragraph-spacing: 28px;     
    --measure-font-size-h6-font-size: 20px;     
    --measure-line-height-h6-line-height: 24px;     
    --measure-paragraph-spacing-h6-paragraph-spacing: 24px;     
    --measure-font-size-paragraph-lg-font-size: 20px;     
    --measure-line-height-paragraph-lg-line-height: 30px;     
    --measure-paragraph-spacing-paragraph-lg-paragraph-spacing: 30px;     
    --measure-font-size-paragraph-md-font-size: 16px;     
    --measure-line-height-paragraph-md-line-height: 24px;     
    --measure-paragraph-spacing-paragraph-md-paragraph-spacing: 24px;     
    --measure-font-size-paragraph-sm-font-size: 14px;     
    --measure-line-height-paragraph-sm-line-height: 22px;     
    --measure-paragraph-spacing-paragraph-sm-paragraph-spacing: 22px;     
    --measure-font-size-paragraph-xs-font-size: 12px;     
    --measure-line-height-paragraph-xs-line-height: 18px;     
    --measure-paragraph-spacing-paragraph-xs-paragraph-spacing: 18px;     
    --measure-font-size-paragraph-xxs-font-size: 10px;     
    --measure-line-height-paragraph-xxs-line-height: 16px;     
    --measure-paragraph-spacing-paragraph-xxs-paragraph-spacing: 16px;     
    --measure-dimension-scale-150: 6px;     
    --measure-dimension-h1-font-size-2: 0px;     
    --measure-border-width-border-width-none: 0px;     
    --measure-border-width-border-width-small: 1px;     
    --measure-border-width-border-width-medium: 2px;     
    --measure-border-width-border-width-large: 4px;     
    --measure-border-radius-border-radius-none: 0px;     
    --measure-border-radius-border-radius-small: 2px;     
    --measure-border-radius-border-radius-medium: 4px;     
    --measure-border-radius-border-radius-large: 8px;     
    --measure-border-radius-border-radius-extra-large: 10px;     
    --measure-space-gap-0: 0px;     
    --measure-space-gap-sm: 2px;     
    --measure-space-gap-md: 4px;     
    --measure-space-gap-lg: 8px;     
    --measure-space-gap-xl: 12px;     
    --measure-space-padding-0: 0px;     
    --measure-space-padding-sm: 2px;     
    --measure-space-padding-md: 4px;     
    --measure-space-padding-lg: 8px;     
    --measure-space-padding-xl: 12px;     
    --measure-space-margin-0: 0px;     
    --measure-space-margin-sm: 2px;     
    --measure-space-margin-md: 4px;     
    --measure-space-margin-lg: 8px;     
    --measure-space-margin-xl: 12px;     
    --measure-border-radius-border-radius-medium-2: 6px;     
    --measure-border-radius-border-radius-radius-button: 6px;     
    --measure-border-radius-border-radius-radius-inputs: 4px;     
    --measure-border-radius-border-radius-radius-inputs-large: 6px;     
    --measure-border-radius-border-radius-radius-product-cards: 8px;     
    --measure-border-radius-border-radius-radius-modals: 8px;     
    --measure-border-radius-border-radius-radius-avatars: 6px;     
    --measure-border-radius-border-radius-radius-badges: 4px;     
    --measure-border-radius-border-radius-radius-callouts: 6px;     
    --measure-border-radius-border-radius-radius-review-cards: 0px;     
    --measure-space-padding-xxl: 16px;     
}